.inputWrapper { display: flex; flex-direction: column; }

.input, .superInput, .errorInput {
    /*padding: 5px 0 5px 24px;*/
    border-radius: 5px;
    border: 1px solid #ec2727;

}

.superInput { border-color: #666; }

.errorInput { border-color: red; }

.error { color: red; font-size: 12px; margin-top: 2px; }
